@font-face {
	font-family: 'anon';
	src: url('../fonts/anon.eot');
	src: url('../fonts/anon.eot?#iefix') format('embedded-opentype');
}
@font-face {
	font-family: 'anon';
	src: url('../fonts/anon.svg#Anonymous Pro') format('svg');
	src: url('../fonts/anon.woff') format('woff');
	src: url('../fonts/anon.ttf') format('truetype');
}
@font-face {
	font-family: 'bebas';
	src: url('../fonts/bebas.eot');
	src: url('../fonts/bebas.eot?#iefix') format('embedded-opentype');
}
@font-face {
	font-family: 'bebas';
	src: url('../fonts/bebas.svg#Bebas Neue') format('svg');
	src: url('../fonts/bebas.woff') format('woff');
	src: url('../fonts/bebas.ttf') format('truetype');
}
/*--------------------------------------------------------------------- CSS RESET -------------------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
section, article, aside, header, footer, nav, dialog, figure {
	display:block;
}
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
/*--------------------------------------------------------------------- END OF RESET -------------------------------------------------------------------------- */

/*--------------------------------------------------------------------- CLASSES -------------------------------------------------------------------------- */
/*font-family declaration classes*/
.anon {
	font-family: anon;
} 
.bebas {
	font-family: bebas;
}
/* full screen, centered, responsive image via edge clipping */
.bgImage {
	box-sizing: border-box;
	position: absolute;
	/*top: 0;this makes the anchor at the top*/	
	right: 0; 
	bottom: 0;	
	min-width: 100%; 
	min-height: 100%;
	left: 50%; 
	transform: translateX(-50%);
	overflow-x: hidden;
	opacity: 0.5;
}
.centeredText {
	box-sizing: border-box;
	position: relative;
    text-align:center;
}
/* temporary container for site under construction style site */
.container { 
	box-sizing: border-box;
	position: relative; 
	overflow: hidden; 
	width: 100%; 
	height: 100vh;
	background-color: black;
}
/* class targeting the img tag */
.logo {
	box-sizing: border-box;
	position: absolute;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50vmax;
	height: 50vmax;
	opacity: 0.2;
    filter: alpha(opacity=20);
}
.topSpacer {
	box-sizing: border-box;
	position: relative;
	top: 40vh;
}
/*--------------------------------------------------------------------- END OF CLASSES -------------------------------------------------------------------------- */

/*--------------------------------------------------------------------- IDS -------------------------------------------------------------------------- */

#subTitle {
	font-size: 4vmax;
	color: white;
}
#subTitle a {
	text-decoration: none;
	color: white;
}
#title {
	font-size: 6vmax;
	color: #ffffff;
}
/*--------------------------------------------------------------------- END OF IDS -------------------------------------------------------------------------- */